* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: RGB(244, 244, 244);
}

/*---- Globales ----*/
/*---- Navbar ----*/
.bg-custom {
  background-color: black;
  color: white;
}

.bg-custom a {
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.bg-custom li a {
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.bg-custom li a:hover {
  color: RGB(243, 41, 53);
}

.burger {
  outline: none;
  width: 100%;
}

.burger i {
  outline: none;
  width: 100%;
}

/*---- Titulo de paginas ----*/
.containerBackground {
  background-image: url(../img/fondoBien2.png);
  background-repeat: repeat;
  background-size: cover;
}

.tituloPagina {
  font-size: large;
  color: RGB(255, 255, 242);
  padding-top: 19%;
  padding-bottom: 19%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*---- Index ----*/
.barriosDisponibles {
  margin-top: 6%;
}

.indexContenedor {
  padding-left: 0%;
  padding-right: 0%;
}

.cardContainer {
  padding-left: 26%;
}

.imagencard {
  max-width: 100%;
  max-height: 100%;
}

.imagencard img {
  width: 100%;
  height: 10%;
}

/* #fff */
.uniteContainer {
  padding-top: 5%;
}

.unite {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.075)), to(rgba(0, 0, 0, 0.89))), url(../img/backgroundSumate.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.89)), url(../img/backgroundSumate.jpg);
  color: white;
  padding-top: 2%;
  padding-bottom: 4%;
  background-position: cover;
  background-size: cover;
}

.unite h3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.unite button {
  color: white;
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border: 2px solid black;
  background-color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.unite button:hover {
  color: black;
  background-color: #fff;
}

.fundadoresBackground {
  background-color: #fff;
}

.fundadores {
  color: black;
  margin-bottom: 6%;
  margin-top: 6%;
}

.fundadores img {
  width: 50%;
}

/* ---- Contacto ---- */
.ContactoTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: RGB(243, 41, 53);
  background-color: RGB(243, 41, 53);
  color: RGB(255, 255, 242);
  padding-top: 100px;
  padding-bottom: 100px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.inputs input {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
}

.inputs {
  margin-top: 50px;
}

.inputs input {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 0px;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
}

.inputs select {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.mensaje input {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: solid 1px black;
  background-color: transparent;
  height: 150px;
  outline: none;
}

.enviar input {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border: 2px solid black;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.enviar button {
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border: 2px solid black;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.enviar:hover input {
  color: white;
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border: 2px solid white;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.enviar:hover button {
  color: white;
  padding-left: 100px;
  width: 300px;
  margin: 10px 0 50px 0;
  padding: 10px;
  border: 0px;
  border: 2px solid white;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ---- Quienes Somos ---- */
.tituloQuienes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: RGB(243, 41, 53);
  color: RGB(255, 255, 242);
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}

.backgroundMisionHistoriaVision {
  background-color: #fff;
}

.misionHistoriaVision1 {
  color: black;
  padding-top: 10%;
  padding-bottom: 3%;
  max-width: 100%;
}

.misionHistoriaVision1 p {
  margin-right: 20%;
  margin-left: 20%;
}

.misionHistoriaVision2 {
  color: black;
  padding-top: 10%;
  padding-bottom: 3%;
  max-width: 100%;
}

.misionHistoriaVision2 p {
  margin-right: 20%;
  margin-left: 20%;
}

.video {
  padding-top: 3%;
  padding-bottom: 5%;
}

.video iframe {
  width: 60%;
  height: 650px;
}

.misionHistoriaVision3 {
  color: black;
  padding-top: 3%;
  padding-bottom: 10%;
  max-width: 100%;
}

.misionHistoriaVision3 p {
  margin-right: 20%;
  margin-left: 20%;
}

/*---- Alquilar y Comprar ----*/
.comprarImagenes img {
  width: 10%;
}

.alquilarImagenes {
  padding-bottom: 0px;
  margin-top: 0px;
}

.alquilarImagenes img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 1%;
}

.tituloAlquilaryComprar {
  background-color: RGB(243, 41, 53);
  color: RGB(255, 255, 242);
  padding-top: 100px;
  padding-bottom: 100px;
}

.botonesAlquilaryComprar {
  margin-bottom: 100px;
}

.botonesAlquilaryComprar button {
  border: none;
  border-radius: 15px;
  background-color: RGB(243, 41, 53);
  color: RGB(255, 255, 242);
  width: 100%;
  height: 24%;
  -webkit-transition: all .5s;
  transition: all .5s;
  max-height: 30%;
}

.botonesAlquilaryComprar a button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* funca */
.background-card {
  border: none;
  background-color: #fff;
  border-radius: 15px;
}

/*---- Footer ----*/
footer {
  background-color: RGB(32, 32, 32);
  width: 100%;
  height: 30px;
}

.preFooter {
  background-color: RGB(32, 32, 32);
  height: 200px;
  text-align: center;
  margin-top: 0px;
}

.backgroundLogo {
  background-color: RGB(32, 32, 32);
}

.logoFooter {
  width: 10%;
  margin: 100px;
  background-color: RGB(32, 32, 32);
}

.pFooter {
  color: whitesmoke;
}

.pFooter p {
  padding-bottom: 0px;
}

.mapa {
  display: block;
  width: 100%;
}

.mapa iframe {
  display: block;
  width: 100%;
  height: 450px;
}

/*---- 404 ----*/
.background404 {
  background-color: RGB(243, 41, 53);
}

.p404 {
  color: white;
  margin-bottom: 6%;
  margin-top: 6%;
}

/*---- Medias ----*/
@media (max-width: 620px) {
  .containerBackground {
    background-image: none;
    background-color: RGB(243, 41, 53);
  }
  .cardContainer {
    padding-left: 5%;
  }
  .fundadores {
    color: black;
    margin-bottom: 6%;
    margin-top: 6%;
  }
  .fundadores img {
    width: 100%;
  }
  .video iframe {
    width: 90%;
    height: 325px;
  }
  .preFooter {
    color: RGB(32, 32, 32);
  }
  .preFooter img {
    width: 35%;
    background-color: RGB(32, 32, 32);
  }
  .pFooter p {
    font-size: small;
  }
}
/*# sourceMappingURL=style.css.map */